body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

/** your styles go here **/
.nav {
  position: fixed;
  background-color: gray;
  border: 1px black solid;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
}

.nav ul {
  list-style: none;
  text-align: left;
}

.nav ul li {
    display: inline;
    padding-right: 3%;
}

.logo {
  position: absolute;
  left: 30px;
  border-radius: 50%;
  height: 85%;
  margin-top: 5px;
  margin-right: 60px;
}
